font(font-size=20px,line-height=30px,font-weight=400)
		font-family 'adelle-sans', Helvetica
		font-size font-size
		line-height line-height
		font-weight font-weight
		color black

heading(font-size=20px,line-height=30px,font-weight=400)
		font-family 'Program-Narrow', Helvetica
		font-size font-size
		line-height line-height
		font-weight font-weight
		color black

black = #111026
blue = #253E84
lightblue = #B4DBD7
grey = #F0F0F0
green = #3FAF8B
orange = #E0643F

*
	margin 0
	padding 0
	box-sizing border-box

h1
	heading(75px,84px,500)
	
h2
	font(25px,,500)
	margin 10px 0px
h3
	font(25px,,500)
h4
	font(12px,19px,200)
	text-transform uppercase
	margin 10px 0px 0px
p
	font(22px,32px)

.heading
	max-width 1080px
	margin auto
	padding 50px 0px 20px
		
.menu-wrapper
	position fixed
	height 70px
	width 100%
	background-color blue
	display flex
	align-items center
	justify-content flex-start
	z-index 100
	top 0px
	box-shadow 0px 0px 3px 1px rgba(0,0,0,0.3)
	img
		height 45px
.menu
	max-width 1120px
	padding 0px 20px
	width 100%
	margin auto
	 
.header
	position relative
	height 85vh
	background-repeat no-repeat
	background-position center center
	background-size cover
	width 100%
	display flex
	align-items flex-end    
	justify-content center
	margin-top 70px
	box-shadow inset -20px -150px 100px 0px rgba(0,0,0,0.5)

.content-wrapper
	font()
		
.header-title
	width 100%
	max-width 1120px
	position relative
	padding 0px 20px    
	margin 60px 0px
	h1
		heading(85px,100px,500)
		color white!important	
	h2
		color white!important

.introduction
	width 100%
	max-width 800px
	margin auto    
	padding 20px
	p
		margin 15px 0px 50px
		&:first-of-type
			font(30px,43px,600)
			margin-top 50px
		
.events
	width 100%
	max-width 1080px
	margin auto
	position relative
	display flex
	justify-content space-between
		
.events-wrapper
	background-color grey
	padding 20px 20px 40px

.pictures
	padding 20px
	
.content-block
	width 32%
	background-color green
	border-radius 5px
	margin 20px 0px
	h3
		margin 10px 0px
.carousel
	width 90%!important
	max-width 1080px
	padding-bottom 60px
	
.content-block-image
	width 100%
	height 250px
	border-radius 5px 5px 0px 0px
	background-position center
	background-size cover
	background-repeat no-repeat
	
.content-block-text
	 padding 15px

#evenement_geweest
	color white!important
	margin-top 10px
	font(14px,21px)
	
.button
	display inline-block
	height 60px
	width 100%
	color white!important
	background-color blue
	font(18px)
	transition all 0.3s
	cursor pointer
	border-radius 5px
	box-shadow inset 0px -8px 0px 0px rgba(0,0,0,0.5)
	text-align center
	padding 10px 0
	margin 20px 0px 10px
	text-decoration none
	&:hover
		background-color lightblue
		color blue  

#button-filmpje
	width 200px
	background-color transparent
	border 2px solid white
	&:hover
		background-color green
		
.footer
	margin auto
	display flex
	justify-content center
	width 100%
	background-color lightblue
	padding 50px
	p
		font(14px,21px)
	h4
		font-weight 700
	div
		padding-right 30px
		max-width 350px
		img
			max-width 100px
			max-height 70px
			margin 15px

.caption-wrap
	background-color lightgrey!important
	color black!important
	opacity 1!important
	padding 10px!important
	
#footer-logos
	max-width 700px
	p
		display flex
		align-items center
	
#youtube-button
		margin-top 20px
		background-color white
		color blue
		&:hover
				color blue
				background-color lightblue

@media only screen and (max-width:650px)
		.menu
			img
				height 40px
				
		h1
			heading(50px,50px,500)
		
		.heading
			padding-top 30px 
			
		.events
				display block
				
		.content-block
				width 100%

		.content-wrapper
				margin 20px 0px
				min-width auto
		
		.introduction
			margin-top 0px
			margin-right 20px
			margin-bottom 60px
			h3
				font(16px,21px)
				margin-top 10px
			p
				font(16px,24px)
				margin-bottom 25px
				&:first-of-type
					font-size 21px
					line-height 29px
					margin-top 10px
		
		.header-title
			margin 30px 0px
			h1
				heading(50px,55px,500)
				
		.carousel
			width 100%!important
		
		.footer
			display block
			padding 20px 0px
			div
				max-width 100%
				padding 10px 20px
				img
					margin auto
					margin 20px
				
		#footer-logos
			p
				flex-direction column
				